---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="About Us | Centre of Excellence in e-Mobility">
  <main class="pt-16 pb-20 lg:pt-20 lg:pb-32">
    <Container>
      <h1
        class="text-4xl lg:text-5xl font-bold text-center mb-8 text-gray-800 dark:text-white"
        style={{ marginTop: "50px" }}
      >
        About Our Centre
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-16">
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
          <h2 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-white">
            Our Mission
          </h2>
          <p class="text-gray-600 dark:text-gray-300">
            The Centre of Excellence in e-Mobility at CHRIST (Deemed to be
            University) is dedicated to advancing the future of sustainable
            transportation through cutting-edge research, industry
            collaboration, and innovative education programs.
          </p>
        </div>
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
          <h2 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-white">
            Our Vision
          </h2>
          <p class="text-gray-600 dark:text-gray-300">
            We aspire to be a global leader in e-mobility research and
            education, fostering a new generation of innovators and sustainable
            solutions that will shape the future of transportation.
          </p>
        </div>
      </div>

      <section class="mb-16">
        <h2
          class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
        >
          Leadership Team
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {
            [
              {
                name: "Dr. Parag Jose C",
                role: "Head- Centre of Excellence in e-Mobility",
                img: "/Parag Jose .JPG",
              },
              {
                name: "Dr. Pragash K",
                role: "Department of Electronics & Communication Engg., SoET",
                img: "/prakash.jpg",
              },
              {
                name: "Dr. Harish Kumar",
                role: "Department of Mechanical Engg., SoET",
                img: "/sudharshan.jpg",
              },
              {
                name: "Dr. Venkataswamy R",
                role: "Department of Electrical & Electronics Engg., SoET",
                img: "/Venkataswamy R.png",
              },
              {
                name: "Prof. Haneesh K.M",
                role: "Department of Electrical & Electronics Engg., SoET",
                img: "/Haneesh KM.png",
              },
              {
                name: "Dr Thejaraju R",
                role: "Department of Mechanical and Automobile Engg",
                img: "/thejarraju.png",
              },
              {
                name: "Dr. Ravikumar R",
                role: "Department of Mechanical & Automobile Engineering",
                img: "/Ravikumar R_2217.jpg",
              },
            ].map((member, index) => (
              <div
                key={index}
                class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-center"
              >
                <div class="w-24 h-24 mx-auto mb-4 bg-gray-300 dark:bg-gray-600 rounded-full">
                  <img
                    src={member.img}
                    alt={`${member.name}'s photo`}
                    class="w-full h-full rounded-full"
                  />
                </div>
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-white">
                  {member.name}
                </h3>
                <p class="text-sm text-gray-600 dark:text-gray-300">
                  {member.role}
                </p>
              </div>
            ))
          }
        </div>
      </section>

      <section>
        <!-- <h2
          class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
        >
          Advisory Board
        </h2> -->
        <!-- <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
          <ul class="list-disc list-inside text-gray-600 dark:text-gray-300">
            <li>
              Dr. Fr. Sony J Chundattu, Director, School of Engineering &
              Technology
            </li>
            <li>
              Dr. Raghunandan Kumar, Dean, School of Engineering & Technology
            </li>
            <li>
              Dr. Mary Anitha, Associate Dean, School of Engineering &
              Technology
            </li>
            <li>
              Fr. Shijin P.J, Assistant Director, School of Engineering &
              Technology
            </li>
            <li>
              Dr. Joseph X Rodrigues, HOD, Department of Electrical &
              Electronics Engineering
            </li>
          </ul>
        </div> -->
        <section class="mb-16">
          <h2
            class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
          >
            Advisory Board
          </h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {
              [
                {
                  name: "Dr. Fr. Sony J Chundattu",
                  role: "Director, School of Engineering & Technology",
                  img: "/Dr. Fr. Sony J Chundattu.png",
                },
                {
                  name: "Dr. Raghunandan Kumar",
                  role: "Dean, School of Engineering & Technology",
                  img: "/Dr. Raghunandan Kumar.png",
                },
                {
                  name: "Dr. Mary Anitha",
                  role: "Associate Dean, School of Engineering & Technology",
                  img: "/Dr. Mary Anitha EA.png",
                },
                {
                  name: "Fr. Shijin P.J",
                  role: "Assistant Director, School of Engineering & Technology",
                  img: "/Fr. Shijin P.J.png",
                },
                {
                  name: "Dr. Joseph X Rodrigues",
                  role: "HOD, Department of Electrical & Electronics Engineering",
                  img: "/Dr. Joseph X Rodrigues.png",
                },
              ].map((member) => (
                <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-center">
                  <div class="w-24 h-24 mx-auto mb-4 bg-gray-300 dark:bg-gray-600 rounded-full">
                    <img
                      src={member.img}
                      alt={`${member.name}'s photo`}
                      class="w-full h-full rounded-full"
                    />
                  </div>
                  <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-white">
                    {member.name}
                  </h3>
                  <p class="text-sm text-gray-600 dark:text-gray-300">
                    {member.role}
                  </p>
                </div>
              ))
            }
          </div>
        </section>
      </section>

      <section class="mb-16">
        <h2
          class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
        >
          Research Teams
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {
            [
              {
                name: "Autonomous PowerTrain",
                lead: "Aaron Abraham Athiyalil B.Tech",
              },
              {
                name: "Range Extension for Batteries in Cold Conditions",
                lead: "Aswath M.Tech",
              },
              {
                name: "Autonomous Fleet Control",
                lead: "Athira M.Tech",
              },
              {
                name: "Predictive Maintenance of EV Components",
                lead: "Sahana Arulanandam BTech",
              },
              {
                name: "Real Time Monitoring System for E2W with Live Location Tracking",
                lead: "Geno P, M.Tech",
              },
              {
                name: "Virtual Driving & Connected Vehicles",
                lead: "Martin K Babu B.Tech",
              },
            ].map((team) => (
              <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
                <h3 class="text-lg font-semibold mb-2 text-gray-800 dark:text-white">
                  {team.name}
                </h3>
                <p class="text-sm text-gray-600 dark:text-gray-300">
                  Team Lead: {team.lead}
                </p>
                <p class="text-sm text-gray-600 dark:text-gray-300 mt-2">
                  5 members
                </p>
              </div>
            ))
          }
        </div>
      </section>
      <section class="mb-16">
        <h2
          class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
        >
          Development Team
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
          {
            [
              {
                name: "Athul Nambiar",
                role: "Web Dev",
                img: "/athul.jpg",
              },
              {
                name: "Naveen V",
                role: "Web Dev",
                img: "/Naveen.jpeg",
              },
              {
                name: "",
                role: "App Dev",
                img: "",
              },
              {
                name: "Sudharshan S Y",
                role: "App Dev",
                img: "/sudarshan.jpg",
              },
            ].map((member, index) => (
              <div
                key={index}
                class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-center"
              >
                <div class="w-24 h-24 mx-auto mb-4 bg-gray-300 dark:bg-gray-600 rounded-full">
                  <img
                    src={member.img}
                    alt={`${member.name}'s photo`}
                    class="w-full h-full rounded-full"
                  />
                </div>
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-white">
                  {member.name}
                </h3>
                <p class="text-sm text-gray-600 dark:text-gray-300">
                  {member.role}
                </p>
              </div>
            ))
          }
        </div>
      </section>
    </Container>
  </main>
</Layout>

<style>
  @media (max-width: 640px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
